In [1]:
import pandas as pd
import numpy as np
# load data in
raw_df = pd.read_csv("daily_motion.csv")

In [2]:
raw_df.describe()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,142,143,gender,mental_disorder,melanch,inpatient,marriage,work,madrs1,madrs2
count,974.000000,974.000000,974.000000,974.000000,974.000000,974.000000,974.000000,974.000000,974.000000,974.000000,...,974.000000,974.000000,974.000000,336.000000,300.000000,336.000000,336.000000,336.000000,336.000000,336.000000
mean,486.500000,24.637537,23.071800,20.604328,19.744969,17.028214,15.271149,13.873238,12.786289,12.077591,...,24.525218,24.475329,1.436345,1.726190,1.946667,1.779762,1.526786,1.883929,22.494048,19.610119
std,281.313882,48.196734,43.618792,42.303417,41.934200,37.667107,38.337088,33.073270,34.576002,32.747869,...,46.604810,47.375509,0.496186,0.526349,0.225073,0.415025,0.500027,0.320788,4.973358,4.786775
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,13.000000,11.000000
25%,243.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,18.000000,16.000000
50%,486.500000,2.398771,2.379212,1.754917,1.911191,0.905250,0.905250,0.832031,0.828927,0.672857,...,2.925445,2.247507,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,24.000000,19.000000
75%,729.750000,24.893306,23.850212,19.161312,16.039022,12.114619,9.857107,8.002946,7.141220,5.683974,...,27.375698,27.816038,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,26.000000,24.000000
max,973.000000,445.571213,379.163811,294.790698,317.786155,356.545579,627.039068,262.999797,362.371487,328.912995,...,439.189960,395.118269,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,29.000000,28.000000

In [69]:
raw_df.rename(columns={"Unnamed: 0": "user_id"}, inplace=True)
X = raw_df.drop(columns=["user_id", "gender", "mental_disorder", "melanch", "inpatient", "marriage", "work", "madrs1", "madrs2", "age", "edu"])
X.head()

,0,1,2,3,4,5,6,7,8,9,...,134,135,136,137,138,139,140,141,142,143
0,17.300057,10.97561,11.656268,12.932501,7.941010,57.799206,5.558707,0.000000,9.897901,2.155417,...,13.613159,21.695973,33.437323,16.732842,4.792967,6.636415,15.002836,4.225752,8.338060,23.454339
1,126.176971,9.07544,11.089053,7.941010,5.927396,11.003970,37.209302,2.552467,7.231991,116.137266,...,46.568349,5.388542,3.601815,49.120817,15.938741,22.972206,96.993761,2.070335,7.345434,0.141804
2,0.822462,0.00000,0.000000,3.885423,0.000000,0.000000,1.474759,0.000000,0.085082,0.000000,...,5.870675,5.558707,12.904141,6.239365,8.451503,22.263188,154.169030,0.000000,0.000000,4.395916
3,0.000000,0.00000,4.537720,0.085082,0.085082,0.000000,2.467385,2.070335,0.000000,0.000000,...,10.606920,45.235394,8.876914,7.543959,3.942144,3.289847,18.462847,10.493477,12.223483,5.700510
4,4.282473,0.00000,50.397050,7.005105,10.890528,15.910380,130.232558,5.587067,4.339195,28.587635,...,5.246739,101.332955,63.187748,0.737379,1.503120,3.885423,3.686897,1.332955,6.437890,0.000000

In [70]:
X.isna().sum()

0      0
1      0
2      0
3      0
4      0
      ..
139    0
140    0
141    0
142    0
143    0
Length: 144, dtype: int64

In [71]:
raw_df.isna().sum()

user_id       0
0             0
1             0
2             0
3             0
           ...
edu          46
marriage    638
work        638
madrs1      638
madrs2      638
Length: 155, dtype: int64

In [72]:
from keras.utils import to_categorical
y = raw_df["mental_disorder"]
#imputing control values with 0s
y = y.fillna(value=0)

y = to_categorical(y)

In [73]:
#Apply CNN https://machinelearningmastery.com/cnn-models-for-human-activity-recognition-time-series-classification/
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.head(10)

,0,1,2,3,4,5,6,7,8,9,...,134,135,136,137,138,139,140,141,142,143
924,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
927,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
428,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
424,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.075491,0.000000,0.000000,0.000000,0.000000,0.075491,0.000000,0.000000,0.000000
228,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
457,9.535305,0.000000,0.000000,0.000000,3.771877,0.000000,1.810501,0.000000,0.000000,3.621002,...,89.438745,188.624019,4.043452,7.453229,0.090525,0.000000,0.000000,0.000000,0.000000,65.328908
710,199.424397,147.022360,51.029444,75.647554,82.444100,74.164268,52.579145,35.377463,87.381005,3.276511,...,17.843702,4.162054,15.961922,50.387425,289.417755,30.329865,130.883330,69.028116,31.392517,222.205003
212,0.000000,0.746697,0.000000,0.000000,0.875933,3.173464,0.000000,0.000000,1.120046,1.076967,...,52.843194,33.687536,33.687536,77.814474,23.923033,25.229753,48.118897,43.753590,118.667433,21.424469
79,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.775006,85.492855,72.826350,57.689513,122.959554,11.092274,32.719787,35.335432,52.094938,46.233955
148,0.000000,0.085568,0.427838,0.570451,77.723902,4.478038,18.511124,7.444381,1.511694,42.926412,...,44.381061,54.934398,236.109526,257.758129,108.756418,83.799201,142.384484,110.211067,78.294353,125.499144

In [103]:
X_train = X_train.to_numpy().reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = X_test.to_numpy().reshape(X_test.shape[0], X_test.shape[1], 1)

AttributeError: 'DataFrame' object has no attribute 'reshape'

In [86]:
n_features

144

In [106]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import Dropout
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D

verbose, epochs, batch_size = 0, 10, 32
model = Sequential()
# for shape help https://www.kaggle.com/code/isaienkov/1d-convolutional-neural-network-starter/notebook
model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(X_train.shape[1], 1)))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(Dropout(0.5))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(100, activation='relu'))
model.add(Dense(n_outputs, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [109]:
 model.fit(X_train, y_train, epochs=epochs, batch_size=batch_size, verbose=verbose)
 # evaluate model
 _, accuracy = model.evaluate(X_test, y_test, batch_size=batch_size, verbose=0)
accuracy

0.6348122954368591